*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #1e293b;
}
.logo{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.nav{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav a:hover{
    color: #38bdf8;
}

.pricing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 60px;
    background: #f5f5f5;
}

.card{
    background: white;
    padding: 40px 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.card:hover{
    transform: translateY(-8px);
}

.card h2{
    font-size: 28px;
    margin-bottom: 25px;
}

.card h1{
    font-size: 40px;
    margin-bottom: 25px;
}

.card h1 span{
    font-size: 18px;
    color: gray;
}

.card ul{
    list-style: none;
    margin-bottom: 30px;
}

.card ul li{
    margin: 12px 0;
}

.card button{
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover{
    background: #1d4ed8;
}

.featured{
    background: #2563eb;
    color: white;
    transform: scale(1.08);
}

.featured h1 span{
    color: #dbeafe;
}

.featured button{
    background: white;
    color: #2563eb;
}

.featured button:hover{
    background: #e5e7eb;
}